body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  margin: 0;
}

.flex-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}